@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="login-page">
  <div class="login-box">
    <img src="/imgs/logo.png" class="logo">

    <form id="login-form">
      <div class="form-group">
        <label>@Resources.ToMultiLang("AccountNo")</label>
        <input type="text" name="accountNo" placeholder="e.g. your@email.address" v-model="accountNo" @@keyup.enter="signIn" />
      </div>
      <div class="form-group password">
        <label>@Resources.ToMultiLang("Password")</label>
        <input type="password" name="password" v-model="password" @@keyup.enter="signIn" />
        <a href="javascript:;" class="forget" @@click="forget">@Resources.ToMultiLang("ForgetPassword")？</a>
      </div>

      <div class="login-btns">
        <button type="button" @@click="signIn">@Resources.ToMultiLang("Login")</button>
        <span>@Resources.ToMultiLang("or")</span>
        <button type="button" onclick="fbLogin();"><img src="/imgs/icons/fb-white.png"> @Resources.ToMultiLang("LoginasFacebook")</button>

        <span>@Resources.ToMultiLang("NeverJoin")<a href="javascript:;" @@click="register">@Resources.ToMultiLang("Register")</a></span>
      </div>
    </form>
  </div>
</div>

@section scripts{
  <script type="text/javascript">
    var jsMessage = {
      EnterEmail: '@Resources.ToMultiLang("EnterEmail")',
      EnterCorrectEmail: '@Resources.ToMultiLang("EnterCorrectEmail")',
      EnterPWD: '@Resources.ToMultiLang("EnterPWD")'
    }
    var targetUrl = '@Html.Raw(ViewBag.ReturnUrl)';
  </script>
  <script type="text/javascript" src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/js/fbLogin.js" asp-append-version="true"></script>
	<script type="text/javascript" src="/js/page/login.js" asp-append-version="true"></script>
}